
<h2>User info</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
<table class="table">
	<tbody>
		<tr>
			<th>name</th>
			<th><%= current_user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th><%= current_user.introduction %></th>
		</tr>
	</tbody>
</table>

<%= link_to "編集(bootstrap)", edit_user_path(current_user) %>

<h2>New Book</h2>

<%= form_for(@book) do |f| %>
	<label for="inpuTitle">Title</label>
	<%= f.text_field :title, id: "inpuTitle" %><br>
	<label for="inputBody">Body</label>
	<%= f.text_area :body, id: "inputBody" %><br>
	<%= f.submit "Create Book" %>
<% end %>